.App {
  width: 100%;
  min-height: 100vh;
}

.btn {
  margin: 5px;
  padding: 8px;
  color: #fff;
  background-color: #5180b6;
  border: none;
  border-radius: 8px;
}
.text {
  text-wrap: wrap;
}
.red {
  margin: 5px;
  width: 50%;
  text-align: center;
  background-color: red;
  color: #fff;
}